We want to look through the IRS' master file of tax-exempt organizations
and look for the zip codes with the most nonprofits
and then look at what industries have the most nonprofits.
This will help us quickly calculate some common descriptive stats
as well as some easy string cleaning functions

In [1]:
#import our third-party library
import pandas as pd

In [38]:
#set this option to make your dollar amounts
#display with commas and 2 decimal places in your 
#summary dataframes
pd.set_option('display.float_format', lambda x: '{:,.2f}'.format(x))

Go to this link: https://www.irs.gov/charities-non-profits/exempt-organizations-business-master-file-extract-eo-bmf and right-click on NY
to get the URL for the csv

In [2]:
#create a new dataframe by reading in the CSV at that URL
#this saves us the trouble of making the request ourself and 
#converting the response into something pandas can work with.
#This is a big help
ny = pd.read_csv('https://www.irs.gov/pub/irs-soi/eo_ny.csv')

In [4]:
#use the dataframe's .head() method to see the first
#few rows and columns of data
ny.head()

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
0,2022084,ST ROSALIAS ROMAN CATHOLIC CHURCH,NaN,1230 65TH ST,BROOKLYN,NY,11219-5614,928,3,9,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
1,2045409,GENERAL COUNCIL OF ASSEMBLIES OF GOD FULL GOSP...,NaN,3210 SOUTHWESTERN BLVD,ORCHARD PARK,NY,14127-1229,1678,3,9,...,0,0,6,0,8,NaN,NaN,NaN,NaN,NaN
2,10263908,SKOWHEGAN SCHOOL OF PAINTING AND SCULPTURE INC,NaN,136 WEST 22ND STREET,NEW YORK,NY,10011-2424,0,3,3,...,8,6,1,0,12,18839129.0,3515868.0,2503199.0,A250,NaN
3,10284115,MAIN IDEA INC,% SARAH STERN TREASURER,180 EAST PROSPECT AVE 178,MAMARONECK,NY,10543-3709,0,3,3,...,5,4,1,0,12,898463.0,478588.0,312621.0,NaN,NaN
4,10391592,MAINE JAZZ CAMP,NaN,PO BOX 150597,BROOKLYN,NY,11215-0597,0,3,3,...,2,3,1,0,12,21577.0,65887.0,65887.0,B99Z,NaN

In [21]:
#show me all my unique column names
ny.columns

Index([u'EIN', u'NAME', u'ICO', u'STREET', u'CITY', u'STATE', u'ZIP', u'GROUP',
       u'SUBSECTION', u'AFFILIATION', u'CLASSIFICATION', u'RULING',
       u'DEDUCTIBILITY', u'FOUNDATION', u'ACTIVITY', u'ORGANIZATION',
       u'STATUS', u'TAX_PERIOD', u'ASSET_CD', u'INCOME_CD', u'FILING_REQ_CD',
       u'PF_FILING_REQ_CD', u'ACCT_PD', u'ASSET_AMT', u'INCOME_AMT',
       u'REVENUE_AMT', u'NTEE_CD', u'SORT_NAME'],
      dtype='object')

In [10]:
#pass the filter on the ny dataframe a list of the three 
#numeric columns we want to calculate descriptive statistics for
#using the dataframe's .describe() method
ny[['ASSET_AMT','INCOME_AMT','REVENUE_AMT']].describe()

              ASSET_AMT        INCOME_AMT      REVENUE_AMT
count         83,272.00         83,272.00        71,396.00
mean       6,717,461.02      4,653,583.38     3,729,685.70
std      136,416,583.22     98,199,804.76    71,814,748.72
min                0.00     -1,735,647.00   -13,754,927.00
25%                0.00              0.00             0.00
50%           21,658.50         27,227.50         8,578.50
75%          441,835.75        283,431.50       194,880.50
max   16,672,598,896.00 14,087,558,909.00 6,493,574,288.00

In [15]:
#let's calculate the maximum value in the ASSET_AMT column by using
#the column's .max() method and assign it to the ny_max variable
ny_max = ny.ASSET_AMT.max()

In [12]:
#similarly, we can use the column's .mean() method
ny.ASSET_AMT.mean()

6717461.0158396577

In [13]:
#and the column's .median() method
#all of these descriptive functions take a column of numbers
#and return a single, summary number
ny.ASSET_AMT.median()

21658.5

In [39]:
#using our ny_max variable, filter our dataframe
#to show just the nonprofit that had the max ASSET_AMT
ny[ny.ASSET_AMT==ny_max]

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME,SHORT_ZIP,SHORT_NTEE
31159,135598093,TRUSTEES OF COLUMBIA UNIVERSITY IN THE CITY OF...,% JULIA SHANAHAN,615 WEST 131 STREET 4TH FLOOR,NEW YORK,NY,10027-7984,8057,3,6,...,1,0,6,"16,672,598,896.00","6,284,244,530.00","4,708,225,588.00",B430,NaN,10027,B

In [19]:
#similarly, we can create a filter that shows
#just the rows with ASSET_AMT over $10,000,000
ny[ny.ASSET_AMT>10000000]

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
2,10263908,SKOWHEGAN SCHOOL OF PAINTING AND SCULPTURE INC,NaN,136 WEST 22ND STREET,NEW YORK,NY,10011-2424,0,3,3,...,8,6,1,0,12,"18,839,129.00","3,515,868.00","2,503,199.00",A250,NaN
17,10553351,DANCING TIDES FOUNDATION INC,% JEFF WILKINS,1475 FRANKLIN AVE,GARDEN CITY,NY,11530-1662,0,3,3,...,8,6,0,1,12,"20,918,833.00","2,490,358.00",nan,T22,ARNELL NATHAN E TTEE
90,10603628,LEARNINGSPRING SCHOOL,% MARILYN SIMONS,247 E 20TH ST,NEW YORK,NY,10003-1801,0,3,3,...,8,7,1,0,6,"45,952,763.00","7,202,443.00","6,463,225.00",B28,NaN
111,10623055,PINDAROS FOUNDATION INC,% MARKS PANETH & SHRON LLP,685 3RD,NEW YORK,NY,10017-4024,0,3,3,...,8,6,0,1,12,"38,882,811.00","3,080,407.00",nan,T22,NaN
240,10708733,DEMOCRACY NOW PRODUCTIONS INC,NaN,207 WEST 25TH ST 11TH FLOOR,NEW YORK,NY,10001-7161,0,3,3,...,8,7,1,0,12,"20,406,857.00","9,155,773.00","8,158,144.00",A30,NaN
259,10718949,CIVITELLA RANIERI FOUNDATION INC,% THE FOUNDATION,28 HUBERT ST,NEW YORK,NY,10013-2041,0,3,3,...,8,6,0,1,12,"24,031,526.00","4,814,547.00",nan,NaN,NaN
355,10790110,EXCELLENCE ACADEMIES INC,% CAROLYN HACK,826 BROADWAY 9TH FLOOR,NEW YORK,NY,10003-4826,0,3,3,...,9,5,1,0,6,"51,159,617.00","603,539.00","603,539.00",B192,NaN
441,10880911,THE ROSS INSTITUTE INC,% DUANE RITTER,18 GOODFRIEND DR,EAST HAMPTON,NY,11937-2584,0,3,3,...,9,8,1,0,6,"102,144,099.00","38,476,680.00","37,932,416.00",B20,NaN
445,10885377,COMIC RELIEF INC,% RICHARD L SCOTT,488 MADISON AVE FL 10,NEW YORK,NY,10022-5723,0,3,3,...,8,8,1,0,12,"12,757,292.00","38,027,287.00","38,027,287.00",T12,NaN
554,16186903,MERCE CUNNINGHAM TRUST,% CUNNINGHAM MERCE TTEE,130 W 56TH ST RM 708,NEW YORK,NY,10019-3962,0,3,3,...,8,7,0,1,12,"10,602,952.00","5,206,721.00",nan,T23,CUNNINGHAM MERCE TTEE
557,16274657,NEW YORK UNIVERSITY VEBA TRUST,% NEW YORK UNIVERSITY,105 EAST 17TH STREET 2ND FL,NEW YORK,NY,10003-2170,0,9,3,...,9,8,1,0,8,"84,770,687.00","13,127,647.00","13,127,647.00",Y43,NaN
569,20532315,LEXINGTON HOUSING DEVELOPMENT FUND CORP,% MET COUNCIL,120 BROADWAY 7TH FLOOR,NEW YORK,NY,10271-0021,0,3,3,...,8,5,1,0,12,"10,974,511.00","573,452.00","573,452.00",L22,NaN
573,20534583,MACAULAY HONORS COLLEGE FOUNDATION,% CAROLYN GEISEL,35 W 67TH ST,NEW YORK,NY,10023-6203,0,3,3,...,8,6,1,0,6,"10,441,938.00","3,053,958.00","2,863,356.00",B80,NaN
614,20555237,52 BROADWAY REALTY CORP,% UNITED FEDERATION OF TEACHERS,52 BROADWAY,NEW YORK,NY,10004-1603,0,2,3,...,8,8,1,0,7,"38,556,178.00","13,240,939.00","13,240,939.00",Z99,NaN
669,20590588,NATIONAL CENTER FOR CIVIC INNOVATION INC,% FUND FOR THE CITY OF NEW YORK INC,121 SIXTH AVENUE,NEW YORK,NY,10013-1510,0,3,3,...,8,7,1,0,9,"27,879,046.00","6,625,243.00","6,625,243.00",S43,NaN
677,20595263,GOULD FAMILY FOUNDATION,% COUDERT BROTHERS LLP,229 CHRYSTIE ST APT 816,NEW YORK,NY,10002-1174,0,3,3,...,8,7,0,1,12,"21,079,534.00","6,507,527.00",nan,T22,MATTHEWS EDWIN S JR TTEE
702,20614246,SHU HAB HOUSING DEVELOPMENT FUND CORPORATION,NaN,8714 116TH ST,RICHMOND HILL,NY,11418-2426,0,3,3,...,8,6,1,0,12,"16,319,483.00","2,195,950.00","2,195,950.00",L20,NaN
762,20663534,CABRINI HOUSING DEVELOPMENT FUND CORPORATION,NaN,220 EAST 19TH STREET,NEW YORK,NY,10003-2600,928,3,9,...,8,5,1,0,12,"13,243,000.00","692,157.00","692,157.00",NaN,NaN
908,30213226,INTERNATIONAL PEACE INSTITUTE INC,NaN,777 UNITED NATIONS PLAZA,NEW YORK,NY,10017-3521,0,3,3,...,8,8,1,0,12,"15,659,798.00","11,677,388.00","10,334,339.00",Q400,NaN
1041,30455984,NIAGARA TOURISM AND CONVENTION CORPORATION,NaN,10 RAINBOW BLVD,NIAGARA FALLS,NY,14303-1132,0,6,3,...,8,6,1,0,12,"10,006,188.00","4,299,750.00","4,299,750.00",S41,NaN
1092,30495750,CRISTO REY NEW YORK HIGH SCHOOL,% WILLIAM P FORD III,112 EAST 106TH ST,NEW YORK,NY,10029-4651,0,3,3,...,8,7,1,0,6,"14,051,374.00","5,622,757.00","5,451,313.00",B25,NaN
1148,30536676,V&L MARX FOUNDATION,% JENNIFER GRUENBERG,14 BROOKLINE RD,SCARSDALE,NY,10583-6004,0,3,3,...,9,8,0,1,12,"73,772,084.00","11,368,081.00",nan,T20,NaN
1243,42392373,AMERICAN VACUUM SOCIETY INCORPORATED,NaN,125 MAIDEN LANE 15TH FL,NEW YORK,NY,10038-4912,0,3,3,...,8,7,1,0,12,"13,239,281.00","5,796,306.00","3,392,360.00",U99Z,NaN
1271,43032409,BUTLER CONSERVATION FUND INC,NaN,60 CUTTER MILL ROAD SUITE 212,GREAT NECK,NY,11021-3131,0,3,3,...,9,6,0,1,12,"134,403,458.00","1,710,959.00",nan,C19,NaN
1299,43254361,THEODORE CROSS FAMILY CHARITABLE FOUNDATION,% SUSAN L REPETTI-NUTTER ET AL,100 MERRICK ROAD,ROCKVILLE CENTRE,NY,11570-4800,0,3,3,...,8,6,0,1,12,"17,875,049.00","2,957,681.00",nan,T20J,NaN
1312,43386858,MARK D HOSTETTER AND ALEXANDER N HABIB FOUNDATION,% MARK D HOSTETTER,306 W 98TH ST,NEW YORK,NY,10025-5559,0,3,3,...,8,1,0,1,12,"21,901,125.00","3,218.00",nan,T22Z,NaN
1319,43414101,THE EDITH GLICK SCHOOLMAN CHILDRENS FOUNDATION,% PKF OCONNOR DAVIES LLP,201 E 79TH ST APT 12D,NEW YORK,NY,10075-0839,0,3,3,...,8,7,0,1,12,"19,923,453.00","7,218,012.00",nan,T20,BREZNAY DEBORAH B TTEE
1326,43493352,CLOUD MOUNTAIN FOUNDATION,% WAGNER FERBER FINE & ACKERMAN PLL,237 W 35TH ST STE 1001,NEW YORK,NY,10001-1950,0,3,3,...,8,8,0,1,12,"30,344,199.00","12,293,993.00",nan,T22,NaN
1328,43519203,NEW LEADERS,NaN,30 W 26TH ST FL 10,NEW YORK,NY,10010-2159,0,3,3,...,8,8,1,0,6,"29,247,493.00","29,409,855.00","29,409,855.00",B50,NaN
1395,43635313,CIVIC BUILDERS INC,% J DAVID SWEENY,304 HUDSON STREET 3RD FL,NEW YORK,NY,10013-1015,0,3,3,...,9,7,1,0,12,"57,276,917.00","9,224,425.00","9,099,362.00",L99,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105911,911792864,ALZHEIMERS FOUNDATION OF AMERICA INC,% CHARLES J FUSCHILLO JR,322 EIGHTH AVENUE 7TH FL,NEW YORK,NY,10001-8001,0,3,3,...,8,7,1,0,12,"12,842,514.00","9,205,772.00","9,145,745.00",G83A,NaN
105978,911884698,NDC HOUSING AND ECONOMIC DEVELOPMENT CORPORATION,NaN,1 BATTERY PARK PLZ FL 710,NEW YORK,NY,10004-1704,9219,3,9,...,9,9,3,0,12,"1,145,379,211.00","97,968,464.00","75,150,583.00",L200,GROUP RETURN
105991,911898350,ROY LICHTENSTEIN FOUNDATION,% DOROTHY LICHTENSTEIN,739 WASHINGTON ST,NEW YORK,NY,10014-2042,0,3,3,...,9,6,0,1,12,"65,966,512.00","3,190,799.00",nan,T99Z,NaN
106024,911917512,QUEENS COLLEGE SPECIAL PROJECTS FUND INC,% JEANNE DEMASTERS,65-30 KISSENA BOULEVARD KIELY 1305,FLUSHING,NY,11367-1597,0,3,3,...,9,7,1,0,6,"61,237,645.00","6,524,372.00","6,524,372.00",T50Z,NaN
106032,911918247,SERVICES FOR THE UNDERSERVED INC,NaN,305 SEVENTH AVE 10TH FLR,NEW YORK,NY,10001-6146,5300,3,6,...,8,8,1,0,6,"42,575,480.00","13,819,294.00","13,528,077.00",NaN,NaN
106037,911922828,H E L P USA INC,NaN,115 E 13TH ST,NEW YORK,NY,10003-5305,8201,3,9,...,9,9,3,0,6,"173,131,657.00","99,048,382.00","97,998,555.00",L410,GROUP RETURN
106039,911922911,HOUSING VISIONS UNLIMITED INC,NaN,1201 E FAYETTE ST STE 26,SYRACUSE,NY,13210-1989,8105,3,9,...,8,8,3,0,12,"34,340,179.00","36,524,400.00","36,420,963.00",NaN,GROUP RETURN
106134,912071511,SERVICES FOR THE UNDERSERVED INC,% PERRY PERLMUTTER,305 SEVENTH AVENUE 10TH FLOOR,NEW YORK,NY,10001-6146,5300,3,9,...,9,9,3,0,6,"65,044,864.00","119,007,411.00","119,007,411.00",NaN,GROUP RETURN
106187,912135195,BON SECOURS CHARITY HEALTH SYSTEM,% PETER KENNIFF,255 LAFAYETTE AVE,SUFFERN,NY,10901-4812,5747,3,6,...,8,0,2,0,12,"23,776,701.00",0.00,0.00,E21,NaN
106202,912154267,MEMORIAL SLOAN-KETTERING CANCER CENTER,% MARK K SVENNINGSON,1275 YORK AVE,NEW YORK,NY,10065-6007,3475,3,9,...,9,9,3,0,12,"9,586,730,000.00","4,317,513,766.00","3,867,024,714.00",E240,GROUP RETURN
106284,931234568,T & J MEYER FAMILY FOUNDATION,% CITRIN COOPERMAN,C/O CITRIN COOPERMAN 529 5TH AVE,NEW YORK,NY,10017-0000,0,3,3,...,8,7,0,1,12,"24,881,985.00","5,376,815.00",nan,T90Z,NaN
106292,942443282,GLOBAL HUNGER PROJECT,NaN,59 UNION SQUARE,NEW YORK,NY,10003-0000,0,3,3,...,8,8,1,0,12,"13,731,782.00","16,678,119.00","16,146,404.00",Q300,NaN
106305,942843176,INTERNATIONAL STUDENT EXCHANGE INC,NaN,36 PARK AVE,BAY SHORE,NY,11706-7309,0,3,3,...,8,8,1,0,8,"14,400,733.00","11,476,478.00","11,476,478.00",Q220,NaN
106355,943235545,SAPLING FOUNDATION,% TED CONFERENCES,330 HUDSON ST 11TH FL,NEW YORK,NY,10013-1046,0,3,3,...,9,9,0,1,12,"53,254,015.00","74,724,713.00",nan,T23,NaN
106360,943273384,CARMEL MOUNTAIN APARTMENTS INC,% MARIA BRITO,40 EAST 52ND STREET,NEW YORK,NY,10022-5911,0,25,3,...,9,7,1,0,12,"94,159,149.00","6,368,569.00","6,368,569.00",NaN,NaN
106385,943398566,MAJOR LEAGUE BASEBALL URBAN YOUTH FOUNDATION,% ROBERT J CLARK,245 PARK AVENUE,NEW YORK,NY,10167-0002,0,3,3,...,8,7,1,0,12,"14,345,889.00","7,672,833.00","7,672,833.00",N63,NaN
106439,943462623,BUFFALO STATE COLLEGE FOUNDATION HOUSING CORPO...,% STANLEY KARDONSKY,1300 ELMWOOD AVENUE CLE HALL NO 417,BUFFALO,NY,14222-0000,0,3,3,...,8,7,1,0,6,"43,673,908.00","5,143,744.00","5,143,744.00",B113,NaN
106474,946109313,WEEDEN FOUNDATION,% ALAN WEEDEN,35 ADAMS ST LOWER UNIT,BEDFORD HILLS,NY,10507-1819,0,3,3,...,8,8,0,1,12,"31,271,135.00","20,882,706.00",nan,NaN,NaN
106475,946182697,MULAGO FOUNDATION,% JOEL SAMMET,15 MAIDEN LN STE 500,NEW YORK,NY,10038-5117,0,3,3,...,9,9,0,1,12,"324,403,880.00","321,482,946.00",nan,T20,NaN
106513,953992053,NOUR FOUNDATION,NaN,322 W 108TH ST,NEW YORK,NY,10025-2756,0,3,3,...,8,7,1,0,12,"10,462,640.00","9,799,418.00","1,506,519.00",P20,NaN
106516,954081892,THE DILLER FOUNDATION,% SARAH KNUTSON ARROW INVSTMN,555 W 18TH ST 5TH FL,NEW YORK,NY,10011-2822,0,3,3,...,8,8,0,1,12,"12,176,140.00","17,634,531.00",nan,NaN,NaN
106527,954335088,LYMPHOMA RESEARCH FOUNDATION,NaN,115 BROADWAY RM 1301,NEW YORK,NY,10006-1623,0,3,3,...,8,7,1,0,6,"10,579,908.00","9,729,452.00","9,216,291.00",G80,NaN
106536,954617492,MOZILO FAMILY FOUNDATION,% THE AYCO CO LP-NTG,PO BOX 15014,ALBANY,NY,12212-5014,0,3,3,...,8,8,0,1,12,"14,839,792.00","33,073,973.00",nan,T99Z,NaN
106553,954870786,KENNETT EXC ASSOCIATES INC A DELAWARE CORP,% URDANG CAPITAL MANAGEMENT INC,1251 AVENUE OF THE AMERICAS 35TH FL,NEW YORK,NY,10020-1104,0,25,3,...,9,7,1,0,6,"70,890,295.00","5,214,284.00","3,401,801.00",S47,NaN
106562,980013401,ST STEPHENS SCHOOL CORPORATION,NaN,15 GRAMERCY PARK S,NEW YORK,NY,10003-1705,0,3,3,...,8,8,1,0,8,"11,997,574.00","16,121,624.00","9,946,557.00",NaN,NaN
106567,980115409,PRO MUJER INC,% NORMA SEGURA,253 W 35TH ST 11TH FL,NEW YORK,NY,10001-1907,0,3,3,...,9,8,1,0,12,"140,454,089.00","48,736,087.00","48,263,169.00",Q300,NaN
106577,980483202,FUDAN UNIVERSITY EDUCATION DEVELOPMENT FOUNDATION,NaN,4126 27TH ST APT 6H,LONG IS CITY,NY,11101-3840,0,3,3,...,8,5,1,0,12,"24,182,982.00","892,246.00","892,246.00",B82,NaN
106579,980519204,THE ALTERNATIVE INVESTMENT MANAGEMENT ASSOCIAT...,NaN,167 FLEET STREET LONDON EC4A 2EA UK,NEW YORK,NY,10169-0000,0,6,3,...,8,8,1,0,12,"10,303,698.00","10,082,985.00","10,082,985.00",S41,NaN
106591,986000319,FOUNDATION FOR ARTS INITIATIVES,NaN,375 GREENWICH ST,NEW YORK,NY,10013-2376,0,3,3,...,8,6,0,1,8,"23,712,986.00","3,871,567.00",nan,T20,NaN
106592,986001286,FONDATION FRANCQUI BELGIUM,% LUTZ AND CARR,551 5TH AVE RM 400,NEW YORK,NY,10176-0423,0,3,3,...,8,6,0,1,12,"41,988,121.00","1,968,125.00",nan,NaN,NaN

In [22]:
#so getting back to one of our first questions
#which zip has the most nonprofits?
#the problem here is that the zip with the +4 number
#is too small a geography, too specific.
ny.ZIP.value_counts()

14203-2309    325
14450-0444    263
10017-0000    203
11210-3714    166
13815-0000    141
10022-0000    141
10018-0000    139
10019-0000    128
11120-0001    123
10016-0000    107
10005-4414    100
14850-0000     96
12212-5014     89
10036-0000     88
10163-5005     84
10001-7604     78
10010-4102     77
10027-0000     75
10001-0000     74
13815-1646     71
10008-1297     70
10005-0000     69
10007-2233     68
10005-4401     67
14221-7748     67
11229-4111     66
10111-0100     64
12866-0860     62
10017-4201     59
10023-0000     59
             ...
11210-1364      1
14051-1753      1
11375-5734      1
11213-4037      1
11211-0521      1
11213-4038      1
10977-3854      1
10977-3856      1
10977-3857      1
14209-0852      1
12309-6413      1
11705-1500      1
14214-1328      1
11710-2455      1
11201-1595      1
11754-0201      1
13460-0818      1
10960-3122      1
10024-5408      1
11214-3725      1
10011-5434      1
11434-7042      1
10025-2206      1
10036-3464      1
10977-2103      1
11362-1934      1
14850-9605      1
10023-5923      1
13748-0100      1
10033-5012      1
Name: ZIP, Length: 74086, dtype: int64

In [25]:
#let's "apply" a function to every row in the ZIP column of the ny dataframe
#we can use lambda to make that function for the variable x 
#(each cell in that column) on the fly
#here we split the full zip+4 string on the dash ('-') and 
#choose the first item in the list that's returned: the 5-digit zip
ny['SHORT_ZIP'] = ny.ZIP.apply(lambda x: x.split('-')[0])

Explaining apply: https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas
"Summing up, apply works on a row / column basis of a DataFrame, applymap works element-wise on a DataFrame, and map works element-wise on a Series."

In [42]:
#look at the first five rows of our new, SHORT_ZIP column
#this looks like what we want
ny.SHORT_ZIP.head()

0    11219
1    14127
2    10011
3    10543
4    11215
Name: SHORT_ZIP, dtype: object

In [28]:
#now try value counts on the new column
#that's a very different place than the full zip+4 value_counts we did before
ny.SHORT_ZIP.value_counts()

10022    1273
11219    1229
10017    1109
10001    1018
10016     977
10018     955
11211     952
10036     859
10019     839
10952     763
10023     722
10003     702
11204     677
11210     633
10025     629
11201     605
10011     603
11230     583
14203     558
10024     555
10010     529
10004     525
10027     501
10977     500
14850     500
10013     492
10021     485
10005     474
14450     442
10128     429
         ...
12195       1
10060       1
13758       1
10286       1
11453       1
14893       1
13611       1
12240       1
12769       1
12768       1
13450       1
12465       1
11256       1
14261       1
14884       1
12781       1
12785       1
13847       1
12784       1
14827       1
12416       1
14824       1
14477       1
14475       1
12511       1
13129       1
12411       1
13457       1
12417       1
11915       1
Name: SHORT_ZIP, Length: 1970, dtype: int64

Remember to consult our data dictionary: https://www.irs.gov/pub/irs-soi/eo_info.pdf

In [29]:
#now we want to know which industry has the most nonprofits.
#After reading our data dictionary carefully, we see that it's
#the NTEE_CD column that has the codes we want
#but, like our zip codes, this is a little too specific.
ny.NTEE_CD.value_counts()

X20     2702
T20     2514
X30     2435
X21     2129
T22     2125
P20     1628
B82     1318
T30      994
O50      969
D20      837
S41      822
A20      744
M24      740
B90      734
Q33      717
B99      658
A23      646
N60      631
A80      629
A65      587
N50      573
S20      565
X20Z     541
J40      540
B94      532
W30      494
B11      489
X99      469
P99      461
A68      427
        ...
W60I       1
E50J       1
G038       1
T015       1
K033       1
K032       1
G300       1
P70C       1
E602       1
N00Z       1
B4XZ       1
A55Z       1
B057       1
C030       1
U31C       1
Y220       1
A41Z       1
E87Z       1
A613       1
H70Z       1
M054       1
G320       1
A77J       1
P377       1
K11        1
P114       1
F22M       1
F22I       1
E50L       1
A6EI       1
Name: NTEE_CD, Length: 2314, dtype: int64

In [32]:
#the .describe() method in this string column
#tells us how many have values and how many repeat
#and the most popular one
ny.NTEE_CD.describe()

count     69572
unique     2314
top         X20
freq       2702
Name: NTEE_CD, dtype: object

In [33]:
#but looking at the .info() method of the whole dataframe
#we see that there are many rows of the NTEE_CD column
#that are empty
ny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106607 entries, 0 to 106606
Data columns (total 29 columns):
EIN                 106607 non-null int64
NAME                106607 non-null object
ICO                 68630 non-null object
STREET              106607 non-null object
CITY                106607 non-null object
STATE               106607 non-null object
ZIP                 106607 non-null object
GROUP               106607 non-null int64
SUBSECTION          106607 non-null int64
AFFILIATION         106607 non-null int64
CLASSIFICATION      106607 non-null int64
RULING              106607 non-null int64
DEDUCTIBILITY       106607 non-null int64
FOUNDATION          106607 non-null int64
ACTIVITY            106607 non-null int64
ORGANIZATION        106607 non-null int64
STATUS              106607 non-null int64
TAX_PERIOD          83994 non-null float64
ASSET_CD            106607 non-null int64
INCOME_CD           106607 non-null int64
FILING_REQ_CD       106607 non-null int64
PF_FILING_REQ_CD    106607 non-null int64
ACCT_PD             106607 non-null int64
ASSET_AMT           83272 non-null float64
INCOME_AMT          83272 non-null float64
REVENUE_AMT         71396 non-null float64
NTEE_CD             69572 non-null object
SORT_NAME           21673 non-null object
SHORT_ZIP           106607 non-null object
dtypes: float64(4), int64(16), object(9)
memory usage: 23.6+ MB

In [34]:
#to allow us to clean up the strings in NTEE_CD column
#we need to fill in any blanks (or "na's") with 0s
#because you can't slice a string ("x[0]", for instance)
#that doesn't exist
ny.NTEE_CD.fillna('0', inplace=True)

In [35]:
#like our zips above, let's apply a new function to each cell
#in each row of the NTEE_CD column and assign the result to
#a new column in our dataframe.
#we'll take each string and just take the 0th character (first in Python)
#in this instance, that's the one-letter code for the industry groups
#according to the IRS's classification
ny['SHORT_NTEE'] = ny.NTEE_CD.apply(lambda x: x[0])

In [36]:
#see the first few rows of the shortened column
ny.SHORT_NTEE.head()

0    0
1    0
2    A
3    0
4    B
Name: SHORT_NTEE, dtype: object

In [37]:
#run value counts. At the top are the empty rows that we filled with "0"
#then X for religious organizations and T for philanthropies
ny.SHORT_NTEE.value_counts()

0    37036
X    10723
T     8780
B     8051
A     7909
P     6266
N     4194
S     3467
E     2571
Q     2129
L     2002
O     1746
M     1419
D     1402
C     1254
W     1137
J      993
G      892
Y      814
F      777
I      630
Z      551
K      536
R      494
H      464
U      232
V      138
Name: SHORT_NTEE, dtype: int64

In [ ]:
#what would you want to know next?